In [1]:
import json
import csv
import pandas as pd
import numpy as np

In [2]:
import pandas as pd
import json

# Try reading a single line first to check the format
with open("dataset.json", 'r') as f:
    first_line = f.readline()

try:
    json.loads(first_line)  # Check if the first line is valid JSON
    # If valid, read the entire file as a list of JSON objects
    df = pd.read_json("dataset.json", lines=True)
except ValueError:
    print("The file is not in a valid line-delimited JSON format.")
    # You might need to investigate the file structure further and adjust parsing accordingly

print(df.shape)
df.head()

(124989, 6)

,short_description,headline,date,link,authors,category
0,She left her husband. He killed their children...,There Were 2 Mass Shootings In Texas Last Week...,2018-05-26,https://www.huffingtonpost.com/entry/texas-ama...,Melissa Jeltsen,CRIME
1,Of course it has a song.,Will Smith Joins Diplo And Nicky Jam For The 2...,2018-05-26,https://www.huffingtonpost.com/entry/will-smit...,Andy McDonald,ENTERTAINMENT
2,The actor and his longtime girlfriend Anna Ebe...,Hugh Grant Marries For The First Time At Age 57,2018-05-26,https://www.huffingtonpost.com/entry/hugh-gran...,Ron Dicker,ENTERTAINMENT
3,The actor gives Dems an ass-kicking for not fi...,Jim Carrey Blasts 'Castrato' Adam Schiff And D...,2018-05-26,https://www.huffingtonpost.com/entry/jim-carre...,Ron Dicker,ENTERTAINMENT
4,"The ""Dietland"" actress said using the bags is ...",Julianna Margulies Uses Donald Trump Poop Bags...,2018-05-26,https://www.huffingtonpost.com/entry/julianna-...,Ron Dicker,ENTERTAINMENT

In [3]:
df=df.drop(columns=['date','link','authors'])

In [4]:
df.head()

,short_description,headline,category
0,She left her husband. He killed their children...,There Were 2 Mass Shootings In Texas Last Week...,CRIME
1,Of course it has a song.,Will Smith Joins Diplo And Nicky Jam For The 2...,ENTERTAINMENT
2,The actor and his longtime girlfriend Anna Ebe...,Hugh Grant Marries For The First Time At Age 57,ENTERTAINMENT
3,The actor gives Dems an ass-kicking for not fi...,Jim Carrey Blasts 'Castrato' Adam Schiff And D...,ENTERTAINMENT
4,"The ""Dietland"" actress said using the bags is ...",Julianna Margulies Uses Donald Trump Poop Bags...,ENTERTAINMENT

In [5]:
df.to_csv("langdata.csv")

In [11]:
df['short_description']=df['short_description'].str.lower()
df['headline']=df['headline'].str.lower()

In [14]:
from nlp_lib import *

In [15]:
df['short_description']=df['short_description'].apply(removes_non_printables)
df['headline']=df['headline'].apply(removes_non_printables)

In [16]:
df['short_description']=df['short_description'].apply(removes_specials)
df['headline']=df['headline'].apply(removes_specials)

In [ ]:
from nlp_lib import *
import pandas as pd
df=pd.read_csv("langdata.csv")
df['headline']=df['headline'].apply(preprocesswithlema)
df['short_description']=df['short_description'].apply(preprocesswithlema)
df.to_csv("langdata.csv")
df.head()

In [85]:
df=pd.read_csv("langdata.csv")

In [86]:
df.columns

Index(['short_description', 'headline', 'category'], dtype='object')

In [95]:
ds=df

In [88]:
ds.head()

,short_description,headline,category
0,leave husband kill child day america,2 mass shooting texas week 1 tv,CRIME
1,course song,smith join diplo nicky jam 2018 world cups off...,ENTERTAINMENT
2,actor longtime girlfriend anna eberstein tie k...,hugh grant marrie time age 57,ENTERTAINMENT
3,actor give dem asskicking fight hard donald trump,jim carrey blasts castrato adam schiff democra...,ENTERTAINMENT
4,dietland actress say bag cathartic therapeutic...,julianna margulie use donald trump poop bag pi...,ENTERTAINMENT

In [96]:
ds['short_description'] = ds['short_description'].where(ds['short_description'].str.split().str.len() > 1)

In [97]:
ds['headline'] = ds['headline'].where(ds['headline'].str.split().str.len() > 1)

In [99]:
ds.isna().sum()

short_description    3279
headline              545
category                0
dtype: int64

In [100]:
ds.dropna(inplace=True)

In [101]:
ds.to_csv("langdata.csv",index=False)

In [162]:
df=pd.read_csv("langdata.csv")

In [163]:
df.isna().sum()

short_description    0
headline             0
category             0
dtype: int64

In [164]:
df.dropna(inplace=True)

In [165]:
df.duplicated().sum()

127

In [166]:
df.drop_duplicates(inplace=True)

In [167]:
df.duplicated().sum()

0

In [169]:
df.to_csv("langdata.csv",index=False)

In [170]:
df.shape

(100760, 3)

In [171]:
df.category.value_counts()

category
POLITICS          28748
ENTERTAINMENT     10655
HEALTHY LIVING     5056
QUEER VOICES       4095
THE WORLDPOST      3632
BLACK VOICES       3339
BUSINESS           3337
PARENTS            3284
SPORTS             3282
COMEDY             2953
WOMEN              2887
MEDIA              2224
WORLD NEWS         2162
IMPACT             2151
CRIME              2141
WEIRD NEWS         2038
GREEN              2021
TASTE              1801
RELIGION           1800
TRAVEL             1617
STYLE              1314
ARTS & CULTURE     1289
WORLDPOST          1227
TECH               1147
FIFTY              1026
LATINO VOICES       998
GOOD NEWS           958
SCIENCE             949
COLLEGE             904
EDUCATION           881
ARTS                844
Name: count, dtype: int64

In [172]:
df.category.value_counts().min()

844

In [180]:
from sklearn.utils import resample

undersampled_dfs = []
min_samples=844
for category in df['category'].unique():
    df_category = df[df['category'] == category]
    
    df_category_undersampled = resample(df_category, 
                                        replace=False, 
                                        n_samples=min_samples, 
                                        random_state=1)
    
    undersampled_dfs.append(df_category_undersampled)

df_undersampled = pd.concat(undersampled_dfs)

df_undersampled = df_undersampled.sample(frac=1, random_state=1).reset_index(drop=True)

print(df_undersampled['category'].value_counts())

category
ARTS              844
GOOD NEWS         844
SCIENCE           844
EDUCATION         844
ENTERTAINMENT     844
STYLE             844
SPORTS            844
COLLEGE           844
BLACK VOICES      844
COMEDY            844
PARENTS           844
CRIME             844
HEALTHY LIVING    844
TRAVEL            844
WORLDPOST         844
GREEN             844
POLITICS          844
TECH              844
BUSINESS          844
IMPACT            844
QUEER VOICES      844
FIFTY             844
WORLD NEWS        844
RELIGION          844
ARTS & CULTURE    844
LATINO VOICES     844
THE WORLDPOST     844
WOMEN             844
WEIRD NEWS        844
MEDIA             844
TASTE             844
Name: count, dtype: int64

In [181]:
df_undersampled.isna().sum()

short_description    0
headline             0
category             0
dtype: int64

In [182]:
df_undersampled.duplicated().sum()

0

In [183]:
df_undersampled.to_csv("langdatabalanced.csv",index=False)

In [184]:
ds=pd.read_csv("langdatabalanced.csv")

In [186]:
ds.duplicated().sum()

0

In [187]:
ds.describe(include='all')

,short_description,headline,category
count,26164,26164,26164
unique,26030,26149,31
top,need help maintain personal spiritual practice...,20 funniest tweet woman week,ARTS
freq,43,4,844

In [188]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26164 entries, 0 to 26163
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   short_description  26164 non-null  object
 1   headline           26164 non-null  object
 2   category           26164 non-null  object
dtypes: object(3)
memory usage: 613.3+ KB

In [189]:
from sklearn.model_selection import train_test_split
# Assuming 'short_description' is the column you want to use for features
x_train, x_test, y_train, y_test = train_test_split(ds['short_description'],
                                                    ds.category,
                                                    test_size=0.2,
                                                    random_state=2022,
                                                    stratify=ds.category)

In [190]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline
from sklearn.metrics import classification_report
from sklearn.svm import *
from sklearn.feature_extraction.text import CountVectorizer
clf = Pipeline([
    ('vectorizer_bow', CountVectorizer(ngram_range=(1, 1))),
    ('classifier', MultinomialNB())
])

clf.fit(x_train, y_train)

y_pred = clf.predict(x_test)
print(classification_report(y_test, y_pred))

                precision    recall  f1-score   support

          ARTS       0.25      0.56      0.35       169
ARTS & CULTURE       0.31      0.05      0.09       169
  BLACK VOICES       0.37      0.17      0.23       169
      BUSINESS       0.29      0.36      0.32       169
       COLLEGE       0.35      0.40      0.38       168
        COMEDY       0.36      0.05      0.09       169
         CRIME       0.41      0.47      0.44       169
     EDUCATION       0.40      0.62      0.48       168
 ENTERTAINMENT       0.16      0.04      0.06       169
         FIFTY       0.12      0.76      0.21       169
     GOOD NEWS       0.17      0.05      0.08       169
         GREEN       0.35      0.38      0.37       169
HEALTHY LIVING       0.21      0.23      0.22       168
        IMPACT       0.22      0.23      0.23       169
 LATINO VOICES       0.52      0.20      0.28       168
         MEDIA       0.41      0.31      0.36       169
       PARENTS       0.21      0.16      0.18       169
      POLITICS       0.31      0.30      0.31       169
  QUEER VOICES       0.49      0.21      0.29       169
      RELIGION       0.36      0.33      0.34       169
       SCIENCE       0.54      0.31      0.39       168
        SPORTS       0.57      0.27      0.37       169
         STYLE       0.49      0.23      0.31       169
         TASTE       0.49      0.43      0.46       169
          TECH       0.58      0.28      0.38       169
 THE WORLDPOST       0.45      0.17      0.24       169
        TRAVEL       0.43      0.44      0.44       169
    WEIRD NEWS       0.21      0.03      0.05       169
         WOMEN       0.24      0.19      0.21       169
    WORLD NEWS       0.29      0.08      0.12       169
     WORLDPOST       0.24      0.79      0.37       168

      accuracy                           0.29      5233
     macro avg       0.35      0.29      0.28      5233
  weighted avg       0.35      0.29      0.28      5233

In [191]:
clf = Pipeline([
    ('vectorizer_bow', CountVectorizer(ngram_range=(1, 2))),
    ('classifier', MultinomialNB())
])

clf.fit(x_train, y_train)

y_pred = clf.predict(x_test)
print(classification_report(y_test, y_pred))

                precision    recall  f1-score   support

          ARTS       0.24      0.63      0.35       169
ARTS & CULTURE       0.39      0.04      0.07       169
  BLACK VOICES       0.39      0.14      0.21       169
      BUSINESS       0.30      0.30      0.30       169
       COLLEGE       0.36      0.39      0.37       168
        COMEDY       0.48      0.07      0.11       169
         CRIME       0.43      0.44      0.44       169
     EDUCATION       0.39      0.64      0.48       168
 ENTERTAINMENT       0.20      0.04      0.06       169
         FIFTY       0.10      0.82      0.18       169
     GOOD NEWS       0.11      0.02      0.04       169
         GREEN       0.37      0.37      0.37       169
HEALTHY LIVING       0.31      0.21      0.25       168
        IMPACT       0.20      0.21      0.21       169
 LATINO VOICES       0.51      0.17      0.25       168
         MEDIA       0.44      0.30      0.35       169
       PARENTS       0.21      0.11      0.15       169
      POLITICS       0.34      0.28      0.31       169
  QUEER VOICES       0.53      0.20      0.29       169
      RELIGION       0.40      0.30      0.34       169
       SCIENCE       0.61      0.31      0.41       168
        SPORTS       0.57      0.22      0.32       169
         STYLE       0.48      0.18      0.26       169
         TASTE       0.51      0.37      0.43       169
          TECH       0.64      0.19      0.29       169
 THE WORLDPOST       0.53      0.15      0.23       169
        TRAVEL       0.46      0.40      0.43       169
    WEIRD NEWS       0.25      0.02      0.04       169
         WOMEN       0.30      0.17      0.22       169
    WORLD NEWS       0.35      0.08      0.13       169
     WORLDPOST       0.19      0.83      0.31       168

      accuracy                           0.28      5233
     macro avg       0.37      0.28      0.26      5233
  weighted avg       0.37      0.28      0.26      5233

In [192]:
clf = Pipeline([
    ('vectorizer_bow', CountVectorizer(ngram_range=(1, 3))),
    ('classifier', MultinomialNB())
])

clf.fit(x_train, y_train)

y_pred = clf.predict(x_test)
print(classification_report(y_test, y_pred))

                precision    recall  f1-score   support

          ARTS       0.24      0.63      0.34       169
ARTS & CULTURE       0.35      0.04      0.06       169
  BLACK VOICES       0.40      0.14      0.20       169
      BUSINESS       0.31      0.30      0.30       169
       COLLEGE       0.36      0.38      0.37       168
        COMEDY       0.46      0.07      0.11       169
         CRIME       0.43      0.43      0.43       169
     EDUCATION       0.39      0.64      0.48       168
 ENTERTAINMENT       0.20      0.04      0.06       169
         FIFTY       0.10      0.81      0.18       169
     GOOD NEWS       0.11      0.02      0.04       169
         GREEN       0.37      0.37      0.37       169
HEALTHY LIVING       0.31      0.21      0.25       168
        IMPACT       0.21      0.21      0.21       169
 LATINO VOICES       0.50      0.15      0.24       168
         MEDIA       0.44      0.30      0.35       169
       PARENTS       0.22      0.11      0.15       169
      POLITICS       0.33      0.26      0.29       169
  QUEER VOICES       0.55      0.20      0.29       169
      RELIGION       0.40      0.30      0.34       169
       SCIENCE       0.62      0.32      0.42       168
        SPORTS       0.57      0.22      0.32       169
         STYLE       0.47      0.17      0.24       169
         TASTE       0.52      0.36      0.43       169
          TECH       0.62      0.18      0.28       169
 THE WORLDPOST       0.51      0.14      0.22       169
        TRAVEL       0.48      0.40      0.43       169
    WEIRD NEWS       0.35      0.04      0.06       169
         WOMEN       0.30      0.17      0.22       169
    WORLD NEWS       0.36      0.08      0.13       169
     WORLDPOST       0.19      0.84      0.31       168

      accuracy                           0.27      5233
     macro avg       0.38      0.27      0.26      5233
  weighted avg       0.38      0.27      0.26      5233

In [194]:
# Define the pipeline
pipeline = Pipeline([
    ('vectorizer', CountVectorizer()),
    ('classifier', MultinomialNB())
])

# Define parameter grid for MultinomialNB with CountVectorizer
param_grid_nb = {
    'vectorizer__ngram_range': [(1, 1), (1, 2), (1, 3)],
    'vectorizer__stop_words': [None, 'english'],
    'vectorizer__max_df': [0.7, 0.9],
    'vectorizer__min_df': [1, 2],
    'classifier__alpha': [0.1, 1.0, 10.0]
}

# Grid search for MultinomialNB using CountVectorizer
grid_search_nb = GridSearchCV(pipeline, param_grid_nb, cv=5, scoring='accuracy')
grid_search_nb.fit(x_train, y_train)

# Print the best parameters
print("Best parameters for MultinomialNB with CountVectorizer:", grid_search_nb.best_params_)

# Evaluate on test data
y_pred = grid_search_nb.predict(x_test)
print("Test accuracy:", accuracy_score(y_test, y_pred))

Exception ignored in: <bound method IPythonKernel._clean_thread_parent_frames of <ipykernel.ipkernel.IPythonKernel object at 0x00000257DC285850>>
Traceback (most recent call last):
  File "G:\Sem 7\NLP\Practicals\venv\Lib\site-packages\ipykernel\ipkernel.py", line 790, in _clean_thread_parent_frames
    active_threads = {thread.ident for thread in threading.enumerate()}
                                                 ^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\PCD\AppData\Local\Programs\Python\Python312\Lib\threading.py", line 1533, in enumerate
    def enumerate():

KeyboardInterrupt:

Best parameters for MultinomialNB with CountVectorizer: {'classifier__alpha': 1.0, 'vectorizer__max_df': 0.7, 'vectorizer__min_df': 2, 'vectorizer__ngram_range': (1, 1), 'vectorizer__stop_words': 'english'}

NameError: name 'accuracy_score' is not defined

In [195]:
from sklearn.feature_extraction.text import TfidfVectorizer  # Import TfidfVectorizer

# Define the pipeline with TfidfVectorizer instead of CountVectorizer
clf = Pipeline([
    ('vectorizer_tfidf', TfidfVectorizer(ngram_range=(1, 1))),  # Use TF-IDF with n-grams (1, 2, 3)
    ('classifier', MultinomialNB())
])

# Train the model
clf.fit(x_train, y_train)

# Make predictions
y_pred = clf.predict(x_test)

# Output the classification report
print(classification_report(y_test, y_pred))

                precision    recall  f1-score   support

          ARTS       0.37      0.53      0.43       169
ARTS & CULTURE       0.30      0.09      0.14       169
  BLACK VOICES       0.34      0.20      0.25       169
      BUSINESS       0.30      0.34      0.32       169
       COLLEGE       0.36      0.41      0.38       168
        COMEDY       0.27      0.10      0.15       169
         CRIME       0.36      0.54      0.43       169
     EDUCATION       0.43      0.61      0.50       168
 ENTERTAINMENT       0.16      0.06      0.09       169
         FIFTY       0.15      0.63      0.24       169
     GOOD NEWS       0.22      0.14      0.17       169
         GREEN       0.37      0.41      0.39       169
HEALTHY LIVING       0.24      0.25      0.24       168
        IMPACT       0.25      0.27      0.26       169
 LATINO VOICES       0.44      0.25      0.32       168
         MEDIA       0.44      0.37      0.40       169
       PARENTS       0.28      0.29      0.28       169
      POLITICS       0.32      0.38      0.35       169
  QUEER VOICES       0.48      0.30      0.37       169
      RELIGION       0.38      0.37      0.37       169
       SCIENCE       0.52      0.39      0.45       168
        SPORTS       0.50      0.36      0.42       169
         STYLE       0.43      0.30      0.35       169
         TASTE       0.44      0.52      0.48       169
          TECH       0.47      0.34      0.39       169
 THE WORLDPOST       0.35      0.19      0.25       169
        TRAVEL       0.48      0.49      0.49       169
    WEIRD NEWS       0.26      0.08      0.13       169
         WOMEN       0.27      0.25      0.26       169
    WORLD NEWS       0.30      0.14      0.19       169
     WORLDPOST       0.33      0.69      0.44       168

      accuracy                           0.33      5233
     macro avg       0.35      0.33      0.32      5233
  weighted avg       0.35      0.33      0.32      5233

In [196]:
from sklearn.feature_extraction.text import TfidfVectorizer  # Import TfidfVectorizer

# Define the pipeline with TfidfVectorizer instead of CountVectorizer
clf = Pipeline([
    ('vectorizer_tfidf', TfidfVectorizer(ngram_range=(1, 2))),  # Use TF-IDF with n-grams (1, 2, 3)
    ('classifier', MultinomialNB())
])

# Train the model
clf.fit(x_train, y_train)

# Make predictions
y_pred = clf.predict(x_test)

# Output the classification report
print(classification_report(y_test, y_pred))

                precision    recall  f1-score   support

          ARTS       0.34      0.53      0.41       169
ARTS & CULTURE       0.32      0.08      0.13       169
  BLACK VOICES       0.37      0.20      0.25       169
      BUSINESS       0.34      0.36      0.35       169
       COLLEGE       0.40      0.45      0.42       168
        COMEDY       0.24      0.09      0.14       169
         CRIME       0.36      0.55      0.44       169
     EDUCATION       0.46      0.65      0.54       168
 ENTERTAINMENT       0.20      0.08      0.11       169
         FIFTY       0.15      0.67      0.25       169
     GOOD NEWS       0.22      0.13      0.16       169
         GREEN       0.37      0.40      0.39       169
HEALTHY LIVING       0.26      0.27      0.27       168
        IMPACT       0.26      0.24      0.25       169
 LATINO VOICES       0.48      0.24      0.32       168
         MEDIA       0.42      0.37      0.39       169
       PARENTS       0.26      0.27      0.27       169
      POLITICS       0.32      0.37      0.34       169
  QUEER VOICES       0.50      0.30      0.38       169
      RELIGION       0.39      0.37      0.38       169
       SCIENCE       0.52      0.38      0.44       168
        SPORTS       0.53      0.37      0.44       169
         STYLE       0.44      0.34      0.38       169
         TASTE       0.45      0.51      0.48       169
          TECH       0.40      0.32      0.36       169
 THE WORLDPOST       0.40      0.21      0.27       169
        TRAVEL       0.49      0.47      0.48       169
    WEIRD NEWS       0.33      0.10      0.15       169
         WOMEN       0.27      0.25      0.26       169
    WORLD NEWS       0.33      0.15      0.21       169
     WORLDPOST       0.31      0.73      0.43       168

      accuracy                           0.34      5233
     macro avg       0.36      0.34      0.33      5233
  weighted avg       0.36      0.34      0.33      5233

In [197]:
from sklearn.feature_extraction.text import TfidfVectorizer  # Import TfidfVectorizer

# Define the pipeline with TfidfVectorizer instead of CountVectorizer
clf = Pipeline([
    ('vectorizer_tfidf', TfidfVectorizer(ngram_range=(1, 3))),  # Use TF-IDF with n-grams (1, 2, 3)
    ('classifier', MultinomialNB())
])

# Train the model
clf.fit(x_train, y_train)

# Make predictions
y_pred = clf.predict(x_test)

# Output the classification report
print(classification_report(y_test, y_pred))

                precision    recall  f1-score   support

          ARTS       0.34      0.52      0.41       169
ARTS & CULTURE       0.33      0.08      0.12       169
  BLACK VOICES       0.38      0.20      0.26       169
      BUSINESS       0.35      0.36      0.35       169
       COLLEGE       0.41      0.44      0.43       168
        COMEDY       0.22      0.10      0.14       169
         CRIME       0.35      0.54      0.43       169
     EDUCATION       0.46      0.64      0.53       168
 ENTERTAINMENT       0.21      0.09      0.12       169
         FIFTY       0.16      0.67      0.26       169
     GOOD NEWS       0.22      0.14      0.17       169
         GREEN       0.37      0.38      0.38       169
HEALTHY LIVING       0.28      0.27      0.28       168
        IMPACT       0.28      0.24      0.26       169
 LATINO VOICES       0.49      0.25      0.33       168
         MEDIA       0.42      0.37      0.39       169
       PARENTS       0.26      0.27      0.27       169
      POLITICS       0.31      0.37      0.34       169
  QUEER VOICES       0.51      0.31      0.38       169
      RELIGION       0.39      0.37      0.38       169
       SCIENCE       0.51      0.38      0.43       168
        SPORTS       0.52      0.38      0.44       169
         STYLE       0.41      0.34      0.37       169
         TASTE       0.43      0.51      0.47       169
          TECH       0.40      0.33      0.36       169
 THE WORLDPOST       0.41      0.21      0.28       169
        TRAVEL       0.49      0.49      0.49       169
    WEIRD NEWS       0.32      0.11      0.17       169
         WOMEN       0.28      0.27      0.27       169
    WORLD NEWS       0.31      0.15      0.20       169
     WORLDPOST       0.31      0.71      0.44       168

      accuracy                           0.34      5233
     macro avg       0.36      0.34      0.33      5233
  weighted avg       0.36      0.34      0.33      5233

In [151]:
from sklearn.model_selection import GridSearchCV
# Define the pipeline
pipeline = Pipeline([
    ('vectorizer', TfidfVectorizer()),
    ('classifier', MultinomialNB())
])

# Define parameter grid for MultinomialNB
param_grid_nb = {
    'vectorizer__ngram_range': [(1, 1), (1, 2),(1,3)],
    'vectorizer__stop_words': [None, 'english'],
    'vectorizer__max_df': [0.7, 0.9],
    'vectorizer__min_df': [1, 2],
    'classifier__alpha': [0.1, 1.0, 10.0]
}

# Grid search for MultinomialNB
grid_search_nb = GridSearchCV(pipeline, param_grid_nb, cv=5, scoring='accuracy')
grid_search_nb.fit(x_train, y_train)
print("Best parameters for MultinomialNB:", grid_search_nb.best_params_)

Best parameters for MultinomialNB: {'classifier__alpha': 1.0, 'vectorizer__max_df': 0.7, 'vectorizer__min_df': 1, 'vectorizer__ngram_range': (1, 3), 'vectorizer__stop_words': 'english'}

In [198]:
# Clean the dataset by filling NaN values with an empty string
x_train_clean = x_train.fillna('')
x_test_clean = x_test.fillna('')

# Create a pipeline with the best parameters for MultinomialNB
best_pipeline_nb = Pipeline([
    ('vectorizer', TfidfVectorizer(ngram_range=(1, 2), stop_words='english', max_df=0.7, min_df=2)),
    ('classifier', MultinomialNB(alpha=1.0))
])

# Train the pipeline on the cleaned training data
best_pipeline_nb.fit(x_train_clean, y_train)

# Predict on the cleaned test set
y_pred_nb = best_pipeline_nb.predict(x_test_clean)

# Print classification report
from sklearn.metrics import classification_report
print("Classification Report for MultinomialNB with best parameters:")
print(classification_report(y_test, y_pred_nb))

Classification Report for MultinomialNB with best parameters:
                precision    recall  f1-score   support

          ARTS       0.33      0.56      0.42       169
ARTS & CULTURE       0.26      0.11      0.15       169
  BLACK VOICES       0.33      0.19      0.24       169
      BUSINESS       0.32      0.37      0.34       169
       COLLEGE       0.39      0.43      0.41       168
        COMEDY       0.31      0.11      0.16       169
         CRIME       0.34      0.52      0.41       169
     EDUCATION       0.47      0.64      0.54       168
 ENTERTAINMENT       0.16      0.07      0.10       169
         FIFTY       0.19      0.63      0.30       169
     GOOD NEWS       0.23      0.14      0.17       169
         GREEN       0.36      0.41      0.38       169
HEALTHY LIVING       0.24      0.24      0.24       168
        IMPACT       0.27      0.25      0.26       169
 LATINO VOICES       0.48      0.26      0.33       168
         MEDIA       0.42      0.39      0.41       169
       PARENTS       0.24      0.28      0.26       169
      POLITICS       0.32      0.38      0.35       169
  QUEER VOICES       0.56      0.30      0.39       169
      RELIGION       0.38      0.37      0.38       169
       SCIENCE       0.48      0.42      0.45       168
        SPORTS       0.50      0.38      0.43       169
         STYLE       0.43      0.33      0.37       169
         TASTE       0.43      0.53      0.48       169
          TECH       0.42      0.33      0.37       169
 THE WORLDPOST       0.35      0.21      0.27       169
        TRAVEL       0.47      0.51      0.49       169
    WEIRD NEWS       0.18      0.06      0.09       169
         WOMEN       0.28      0.25      0.27       169
    WORLD NEWS       0.28      0.12      0.17       169
     WORLDPOST       0.30      0.72      0.42       168

      accuracy                           0.34      5233
     macro avg       0.35      0.34      0.32      5233
  weighted avg       0.35      0.34      0.32      5233

In [199]:
# Clean the dataset by filling NaN values with an empty string
x_train_clean = x_train.fillna('')
x_test_clean = x_test.fillna('')

# Create a pipeline with the best parameters for MultinomialNB
best_pipeline_nb = Pipeline([
    ('vectorizer', TfidfVectorizer(ngram_range=(1, 3), stop_words='english', max_df=0.7, min_df=1)),
    ('classifier', MultinomialNB(alpha=1.0))
])

# Train the pipeline on the cleaned training data
best_pipeline_nb.fit(x_train_clean, y_train)

# Predict on the cleaned test set
y_pred_nb = best_pipeline_nb.predict(x_test_clean)

# Print classification report
from sklearn.metrics import classification_report
print("Classification Report for MultinomialNB with best parameters:")
print(classification_report(y_test, y_pred_nb))

Classification Report for MultinomialNB with best parameters:
                precision    recall  f1-score   support

          ARTS       0.34      0.53      0.41       169
ARTS & CULTURE       0.30      0.08      0.13       169
  BLACK VOICES       0.38      0.20      0.26       169
      BUSINESS       0.33      0.36      0.34       169
       COLLEGE       0.39      0.44      0.41       168
        COMEDY       0.25      0.11      0.15       169
         CRIME       0.35      0.54      0.42       169
     EDUCATION       0.45      0.64      0.53       168
 ENTERTAINMENT       0.20      0.09      0.12       169
         FIFTY       0.18      0.65      0.28       169
     GOOD NEWS       0.21      0.15      0.17       169
         GREEN       0.37      0.40      0.39       169
HEALTHY LIVING       0.28      0.28      0.28       168
        IMPACT       0.27      0.25      0.26       169
 LATINO VOICES       0.47      0.25      0.33       168
         MEDIA       0.43      0.40      0.41       169
       PARENTS       0.27      0.29      0.28       169
      POLITICS       0.31      0.37      0.34       169
  QUEER VOICES       0.50      0.31      0.38       169
      RELIGION       0.39      0.38      0.38       169
       SCIENCE       0.51      0.41      0.45       168
        SPORTS       0.51      0.38      0.44       169
         STYLE       0.42      0.33      0.37       169
         TASTE       0.44      0.52      0.48       169
          TECH       0.43      0.33      0.37       169
 THE WORLDPOST       0.40      0.20      0.27       169
        TRAVEL       0.49      0.48      0.49       169
    WEIRD NEWS       0.27      0.10      0.15       169
         WOMEN       0.28      0.28      0.28       169
    WORLD NEWS       0.27      0.14      0.19       169
     WORLDPOST       0.31      0.72      0.44       168

      accuracy                           0.34      5233
     macro avg       0.36      0.34      0.33      5233
  weighted avg       0.36      0.34      0.33      5233